<div class="body-shadow" (click)="exitNav()" [style.z-index]="bodyShadowIndex" [style.opacity]="bodyShadowOpacity"></div>
<header>
  <div class="container">
    <section class="top-line">
      <div class="logo">
        <a (click)="openPage('/')"><img src="assets/img/{{logo}}"></a>
      </div>

      <a class="nav-menu" (click)="appearNav()"><i class="fas fa-bars"></i></a>

      <div class="resp-nav-wrapper" [style.left.px]="left">
        <h6>Меню</h6>
        <i class="fas fa-times exit-nav" (click)="exitNav()"></i>
        <nav>
          <ul>
            <!--<li *ngFor="let item of arr">-->
            <!--<a href="#">{{item}}</a>-->
            <!--</li>-->
            <li><a [ngClass]="headerListChange" (click)="openPage('/events')">Мероприятия</a></li>
            <li><a [ngClass]="headerListChange" (click)="openPage('/speakers')">Спикеры</a></li>
            <li><a [ngClass]="headerListChange" href="https://welcome.cinimex.ru/" target="_blank">Карьера</a></li>
          </ul>
        </nav>
      </div>


      <div class="btnSub">
        <a class="subscribe"><i class="far fa-check-square"></i>Подписаться</a>
      </div>
    </section>
  </div>

</header>

