@import '~src/app/toolkit/shared-styles/defultat-for-components'

header
  background-color: transparent
  position: absolute
  width: 100%
  left: 0px
  top: 0px
  z-index: 15


  .top-line
    padding: 5px 0
    @extend %display-flex
    height: 100px
    position: relative
    .logo
      @include flex(1, 0, auto)
      img
        width: 180px
        height: 40px
        cursor: pointer

    .nav-menu
      display: none

    .resp-nav-wrapper
      @include flex(0, 0, 450px)
      h6
        display: none
      .exit-nav
        display: none

    nav
      ul
        margin: 0
        padding-left: 0
        @extend %display-flex
        list-style-type: none
        li
          margin-left: 50px
          &:nth-child(1)
            margin-left: 0
          a
            color: #fff
            font-weight: 500
            cursor: pointer
            &:hover
              color: $orange
          .black-style
            color: #333
          .white-style
            color: #fff

    .subscribe
      color: #fff
      background-color: $blue
      padding: 12px 10px
      width: 150px
      display: block
      text-align: center
      font-size: 15px
      box-shadow: 0 1em 2em -1em rgba(0,0,0,1)
      &:hover
        background-color: #1A4CA3
      .fa-check-square
        margin-right: 7px

      cursor: pointer


@media screen and (max-width: 1550px)
  header
    .top-line
      .resp-nav-wrapper
       @include flex(0,0, 380px)
      nav
        ul
          li
            a
              font-size: 14px
      .logo
        img
          width: 160px
          height: 35px
      .subscribe
        font-size: 14px
