<app-header></app-header>

<section class="events">
  <h1>Events Store</h1>
  <h2>Вы можете записаться на актуальные эвенты, либо чекнуть прошедшие и посмотреть как оно было ;)</h2>
  <div class="container">

    <div class="event-container">
      <div class="event-view">
        <a href=""><img src="../../assets/img/events/0.jpg" alt=""></a>
      </div>
      <div class="event-descr">
        <p class="date-meetup">18 октября 2018</p>
        <p class="theme-meetup">SCALA RUSSIAN MEETUP</p>
        <p class="base-info">Y-3’s new capsule collection finds inspiration in basketball player James Harden and features the highly-anticipated first non-high top Adidas Boost You Wear sneaker. As longtime Y-3 collaborators, Standard Black drew on its extensive experience in the realms of fashion and athletic creative direction to craft a unique identity for the project.</p>
        <a href="" class="button_common">Регистрация</a>
      </div>
    </div>

    <div class="event-container">
      <div class="event-view">
        <a href=""><img src="../../assets/img/events/1.jpg" alt=""></a>
      </div>
      <div class="event-descr">
        <p class="date-meetup">потрачено</p>
        <p class="theme-meetup">SCALA RUSSIAN MEETUP</p>
        <p class="base-info">Y-3’s new capsule collection finds inspiration in basketball player James Harden and features the highly-anticipated first non-high top Adidas Boost You Wear sneaker. As longtime Y-3 collaborators, Standard Black drew on its extensive experience in the realms of fashion and athletic creative direction to craft a unique identity for the project.</p>
        <a href="" class="button_common">как это было <i class="fas fa-sort-down fa-rotate-270"></i></a>
      </div>
    </div>

    <div class="event-container">
      <div class="event-view">
        <a href=""><img src="../../assets/img/events/2.jpg" alt=""></a>
      </div>
      <div class="event-descr">
        <p class="date-meetup">потрачено</p>
        <p class="theme-meetup">SCALA RUSSIAN MEETUP</p>
        <p class="base-info">Y-3’s new capsule collection finds inspiration in basketball player James Harden and features the highly-anticipated first non-high top Adidas Boost You Wear sneaker. As longtime Y-3 collaborators, Standard Black drew on its extensive experience in the realms of fashion and athletic creative direction to craft a unique identity for the project.</p>
        <a href="" class="button_common">как это было <i class="fas fa-sort-down fa-rotate-270"></i></a>
      </div>
    </div>

    <div class="event-container">
      <div class="event-view">
        <a href=""><img src="../../assets/img/events/3.jpg" alt=""></a>
      </div>
      <div class="event-descr">
        <p class="date-meetup">потрачено</p>
        <p class="theme-meetup">SCALA RUSSIAN MEETUP</p>
        <p class="base-info">Y-3’s new capsule collection finds inspiration in basketball player James Harden and features the highly-anticipated first non-high top Adidas Boost You Wear sneaker. As longtime Y-3 collaborators, Standard Black drew on its extensive experience in the realms of fashion and athletic creative direction to craft a unique identity for the project.</p>
        <a href="" class="button_common">как это было <i class="fas fa-sort-down fa-rotate-270"></i></a>
      </div>
    </div>

    <div class="event-container">
      <div class="event-view">
        <a href=""><img src="../../assets/img/events/4.jpg" alt=""></a>
      </div>
      <div class="event-descr">
        <p class="date-meetup">потрачено</p>
        <p class="theme-meetup">SCALA RUSSIAN MEETUP</p>
        <p class="base-info">Y-3’s new capsule collection finds inspiration in basketball player James Harden and features the highly-anticipated first non-high top Adidas Boost You Wear sneaker. As longtime Y-3 collaborators, Standard Black drew on its extensive experience in the realms of fashion and athletic creative direction to craft a unique identity for the project.</p>
        <a href="" class="button_common">как это было <i class="fas fa-sort-down fa-rotate-270"></i></a>
      </div>
    </div>

    <div class="event-container">
      <div class="event-view">
        <a href=""><img src="../../assets/img/events/5.jpg" alt=""></a>
      </div>
      <div class="event-descr">
        <p class="date-meetup">потрачено</p>
        <p class="theme-meetup">SCALA RUSSIAN MEETUP</p>
        <p class="base-info">Y-3’s new capsule collection finds inspiration in basketball player James Harden and features the highly-anticipated first non-high top Adidas Boost You Wear sneaker. As longtime Y-3 collaborators, Standard Black drew on its extensive experience in the realms of fashion and athletic creative direction to craft a unique identity for the project.</p>
        <a href="" class="button_common">как это было <i class="fas fa-sort-down fa-rotate-270"></i></a>
      </div>
    </div>

  </div>
</section>



<app-footer></app-footer>
