<app-header></app-header>

<section class="head" style="background-image: url('assets/img/events/3.jpg')">

    <div class="shadow"></div>
    <div class="container-short">
      <div class="offer-wrapper">
        <h1>
          SCALA RUSSIAN MEETUP
        </h1>
        <p>Y-3’s new capsule collection finds inspiration in basketball player James Harden and features the highly-anticipated first non-high top Adidas Boost You Wear sneaker. As longtime Y-3 collaborators, Standard Black drew on i</p>
        <a href="">Регистрация</a>
      </div>

    </div>

</section>


<app-speakers-event></app-speakers-event>


<app-registration></app-registration>

<app-gallery></app-gallery>

<app-video></app-video>


<app-footer></app-footer>
