<app-header></app-header>

<section class="head" style="background-image: url('../../../../assets/img/events/3.jpg')">

    <div class="shadow"></div>
    <div class="container-short">
      <div class="offer-wrapper">
        <h1>
          SCALA RUSSIAN MEETUP
        </h1>
        <p>Y-3’s new capsule collection finds inspiration in basketball player James Harden and features the highly-anticipated first non-high top Adidas Boost You Wear sneaker. As longtime Y-3 collaborators, Standard Black drew on i</p>
        <a href="">Регистрация</a>
      </div>

    </div>

</section>


<section class="event-speakers">
  <div class="container-short">
    <h2>Докладчики меропрития</h2>

    <div class="speakers-wrapper">

      <div class="speaker-item">
        <div class="speaker-photo">
          <img src="../../../../assets/img/main/2.jpg" alt="">
        </div>
        <div class="speaker-dossier">
          <p class="speaker-name">Lorem Ipsum</p>
          <p class="speaker-company">Gasgolder</p>
          <p class="speaker-theme">Ngrx vs Ngxs</p>
          <i class="fas fa-sort-up"></i>
          <p class="detail-info">Y-3’s new capsule collection finds inspiration in basketball player James Harden and features the highly-anticipated first non-high top Adidas Boost You Wear sneaker. As longtime Y-3 collaborators, Standard Black drew on i</p>
        </div>
      </div>

      <div class="speaker-item">
        <div class="speaker-photo">
          <img src="../../../../assets/img/main/3.jpg" alt="">
        </div>
        <div class="speaker-dossier">
          <p class="speaker-name">Lorem Ipsum</p>
          <p class="speaker-company">BookingMachine</p>
          <p class="speaker-theme">React, Vue</p>
          <i class="fas fa-sort-up"></i>
          <p class="detail-info">Y-3’s new capsule collection finds inspiration in basketball player James Harden and features the highly-anticipated first non-high top Adidas Boost You Wear sneaker. As longtime Y-3 collaborators, Standard Black drew on i</p>
        </div>
      </div>

      <div class="speaker-item">
        <div class="speaker-photo">
          <img src="../../../../assets/img/main/4.jpg" alt="">
        </div>
        <div class="speaker-dossier">
          <p class="speaker-name">Lorem Ipsum</p>
          <p class="speaker-company">Фрилансер</p>
          <p class="speaker-theme">Angular 7</p>
          <i class="fas fa-sort-up"></i>
          <p class="detail-info">Y-3’s new capsule collection finds inspiration in basketball player James Harden and features the highly-anticipated first non-high top Adidas Boost You Wear sneaker. As longtime Y-3 collaborators, Standard Black drew on i</p>
        </div>
      </div>

      <div class="speaker-item">
        <div class="speaker-photo">
          <img src="../../../../assets/img/main/5.jpg" alt="">
        </div>
        <div class="speaker-dossier">
          <p class="speaker-name">Lorem Ipsum</p>
          <p class="speaker-company">Gasgolder</p>
          <p class="speaker-theme">Ngrx vs Ngxs</p>
          <i class="fas fa-sort-up"></i>
          <p class="detail-info">Y-3’s new capsule collection finds inspiration in basketball player James Harden and features the highly-anticipated first non-high top Adidas Boost You Wear sneaker. As longtime Y-3 collaborators, Standard Black drew on i</p>
        </div>
      </div>

      <div class="speaker-item">
        <div class="speaker-photo">
          <img src="../../../../assets/img/main/6.jpg" alt="">
        </div>
        <div class="speaker-dossier">
          <p class="speaker-name">Lorem Ipsum</p>
          <p class="speaker-company">BookingMachine</p>
          <p class="speaker-theme">React, Vue</p>
          <i class="fas fa-sort-up"></i>
          <p class="detail-info">Y-3’s new capsule collection finds inspiration in basketball player James Harden and features the highly-anticipated first non-high top Adidas Boost You Wear sneaker. As longtime Y-3 collaborators, Standard Black drew on i</p>
        </div>
      </div>

      <div class="speaker-item">
        <div class="speaker-photo">
          <img src="../../../../assets/img/main/7.jpg" alt="">
        </div>
        <div class="speaker-dossier">
          <p class="speaker-name">Lorem Ipsum</p>
          <p class="speaker-company">Фрилансер</p>
          <p class="speaker-theme">Angular 7</p>
          <i class="fas fa-sort-up"></i>
          <p class="detail-info">Y-3’s new capsule collection finds inspiration in basketball player James Harden and features the highly-anticipated first non-high top Adidas Boost You Wear sneaker. As longtime Y-3 collaborators, Standard Black drew on i</p>
        </div>
      </div>

    </div>

    <div class="be-speaker">
      <h3>Будьте спикером события</h3>
      <p>скиньте тему и описание доклада на</p>
      <a href="">meetup.cinimex.ru</a>
    </div>

  </div>
</section>


<section class="registration">

  <div class="container-short">
    <h3>Запись на участие</h3>
    <p>все поля обязательны к заполнению*</p>
    <form action="">
      <input type="text" name="name" placeholder="Ваше имя">
      <input type="text" name="company" placeholder="Компания">
      <input type="text" name="mail" placeholder="@mail adress">
      <input type="text" name="phone" placeholder="Телефон">
      <button type="submit">Отправить</button>

      <div class="form-check">
        <div class="check-block">
          <input id="dispatch-check" class="dispatch-check" checked type="checkbox" formControlName="isDistribution">
          <label for="dispatch-check">Хочу получать рассылку</label>
        </div>
        <div class="check-block">
          <input id="agree-check" class="agree-check" checked type="checkbox" formControlName="isUserAgreement">
          <label class="label-agree" for="agree-check">Подтверждаю согласие на Пользовательское соглашение</label>
        </div>
      </div>

    </form>
  </div>

</section>

<app-video></app-video>

<app-gallery></app-gallery>

<app-footer></app-footer>
