<app-header></app-header>
<section class="head">

<!-- You can add more ".slideshow-image" elements, but remember to update the "$items" variable on SCSS -->
<div class="slideshow">
  <div class="slideshow-image" style="background-image: url('../../assets/img/header-ken-burn/1.jpg')"></div>
  <div class="slideshow-image" style="background-image: url('../../assets/img/header-ken-burn/2.jpg')"></div>
  <div class="slideshow-image" style="background-image: url('../../assets/img/header-ken-burn/3.jpg')"></div>
  <div class="slideshow-image" style="background-image: url('../../assets/img/header-ken-burn/4.jpg')"></div>
  <h1>
    Cinimex Meetup
    <a routerLink="events/12">Запись на текущее мероприятие</a>
  </h1>
  <div class="shadow"></div>
</div>

</section>

<section class="main-preview">
    <div class="main-meetup">
      <div class="view-meetup">
        <a href=""><img src="../../assets/img/main/main-meetup.jpg" alt=""></a>
      </div>
      <div class="descr-meetup">
        <p class="date-meetup">18 октября 2018</p>
        <p class="theme-meetup">SCALA RUSSIAN MEETUP</p>
        <p class="base-info">Y-3’s new capsule collection finds inspiration in basketball player James Harden and features the highly-anticipated first non-high top Adidas Boost You Wear sneaker. As longtime Y-3 collaborators, Standard Black drew on its extensive experience in the realms of fashion and athletic creative direction to craft a unique identity for the project.</p>
        <a routerLink="events/12" class="button_common">Регистрация <i class="fas fa-sort-down fa-rotate-270"></i></a>
      </div>
    </div>
</section>

<section class="main-speakers">
  <h2>cпикеры наших эвентов</h2>
  <div class="container">
    <div class="speakers-view">

      <div class="speaker-item">
        <a href=""><div class="speaker-photo" style="background-image: url('../../assets/img/main/1.jpg')"></div></a>
        <div class="speaker-descr">
          <p>Lorem Ipsum</p>
          <p>cinimex</p>
        </div>
      </div>

      <div class="speaker-item">
        <a href=""><div class="speaker-photo" style="background-image: url('../../assets/img/main/2.jpg')"></div></a>
        <div class="speaker-descr">
          <p>Lorem Ipsum</p>
          <p>tinkof</p>
        </div>
      </div>

      <div class="speaker-item">
        <a href=""><div class="speaker-photo" style="background-image: url('../../assets/img/main/3.jpg')"></div></a>
        <div class="speaker-descr">
          <p>Lorem Ipsum</p>
          <p>jetbrains</p>
        </div>
      </div>

      <div class="speaker-item">
        <a href=""><div class="speaker-photo" style="background-image: url('../../assets/img/main/4.jpg')"></div></a>
        <div class="speaker-descr">
          <p>Lorem Ipsum</p>
          <p>intel</p>
        </div>
      </div>

      <div class="speaker-item">
        <a href=""><div class="speaker-photo" style="background-image: url('../../assets/img/main/5.jpg')"></div></a>
        <div class="speaker-descr">
          <p>Lorem Ipsum</p>
          <p>cinimex</p>
        </div>
      </div>

      <div class="speaker-item">
        <a href=""><div class="speaker-photo" style="background-image: url('../../assets/img/main/6.jpg')"></div></a>
        <div class="speaker-descr">
          <p>Lorem Ipsum</p>
          <p>tinkof</p>
        </div>
      </div>

      <div class="speaker-item">
        <a href=""><div class="speaker-photo" style="background-image: url('../../assets/img/main/7.jpg')"></div></a>
        <div class="speaker-descr">
          <p>Lorem Ipsum</p>
          <p>jetbrains</p>
        </div>
      </div>

      <div class="speaker-item">
        <a href=""><div class="speaker-photo" style="background-image: url('../../assets/img/main/8.jpg')"></div></a>
        <div class="speaker-descr">
          <p>Lorem Ipsum</p>
          <p>intel</p>
        </div>
      </div>

    </div>
    <a routerLink="speakers" class="button-all-speakers">все спикеры <i class="fas fa-sort-down fa-rotate-270"></i></a>
  </div>
</section>



<app-footer></app-footer>

<router-outlet></router-outlet>
