
<section class="subscribe-section">
  <div class="container-short">
    <div class="subscribe-view">
      <div class="subscribe-offer">
        <h3>Вкусная рассылка</h3>
        <p>Y-3’s new capsule collection finds inspiration in basketball player James Harden and features the highly-anticipated first non-high top Adidas Boost You Wear sneaker. As longtime Y-3 collaborators, Standard Black drew on its extensive experience in the realms of fashion and athletic creative direction to craft a unique identity for the project.</p>
      </div>
      <div class="subscribe-form">
        <form action="">
          <input type="text" placeholder="Your Email Adress">
          <button type="submit">Subscribe</button>
        </form>
      </div>
    </div>
  </div>
</section>

  <div class="container-short">
    <div class="footer-wrap">
      <div class="logo">
        <a href=""><img src="../../../../assets/img/LogoDark.png" alt=""></a>
      </div>
      <div class="footer-help">
        <p>по всем вопросам пишите сюда <a href="">meetup@cinimex.ru</a></p>
      </div>
      <div class="footer-nav">
        <ul>
          <li><a href="events">Мероприятия</a></li>
          <li><a href="">Докладчики</a></li>
          <li><a href="">Стажировка</a></li>
        </ul>
      </div>
      <div class="social">
        <h3>Объединяемся</h3>
        <div class="social-icons">
          <a href=""><img src="../../../../assets/img/main/instagram.svg" alt=""></a>
          <a href=""><img src="../../../../assets/img/main/facebook.svg" alt=""></a>
          <a href=""><img src="../../../../assets/img/main/twitter.svg" alt=""></a>
          <a href=""><img src="../../../../assets/img/main/vk.svg" alt=""></a>
        </div>
      </div>
    </div>
  </div>


