
<section class="event-video">

  <div class="video-container">
      <div class="shadow"></div>
        <p-lightbox type="content">
          <a class="group" href="#">
            <div class="watch-movie">
              <i class="far fa-play-circle"></i>
              <p>watch movie</p>
            </div>
          </a>
          <iframe src="https://player.vimeo.com/video/100632505" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </p-lightbox>
      <img src="../../assets/img/events/5.jpg" alt="">
  </div>

  <div class="video-subscribe-offer">
    <h4>Желаете принять участие в следующем подобном событии?</h4>
    <p>Подпишитесь на рассылку и узнавайте о наших событиях первыми!</p>
    <a class="takepart"
    >Подписаться</a>
  </div>
</section>
