<section class="event-speakers">
  <div class="container-short">
    <h2>докладчики меропрития</h2>

    <div class="speakers-wrapper">

      <div class="speaker-item">
        <div class="speaker-photo">
          <img src="../../../../assets/img/main/2.jpg" alt="">
        </div>
        <div class="speaker-dossier">
          <p class="speaker-name">Lorem Ipsum</p>
          <p class="speaker-company">Gasgolder</p>
          <p class="speaker-theme">Ngrx vs Ngxs</p>
          <i class="fas fa-sort-up"></i>
          <p class="detail-info">Y-3’s new capsule collection finds inspiration in basketball player James Harden and features the highly-anticipated first non-high top Adidas Boost You Wear sneaker. As longtime Y-3 collaborators, Standard Black drew on i</p>
        </div>
      </div>

      <div class="speaker-item">
        <div class="speaker-photo">
          <img src="../../../../assets/img/main/3.jpg" alt="">
        </div>
        <div class="speaker-dossier">
          <p class="speaker-name">Lorem Ipsum</p>
          <p class="speaker-company">Bookin gMachine</p>
          <p class="speaker-theme">React, Vue</p>
          <i class="fas fa-sort-up"></i>
          <p class="detail-info">Y-3’s new capsule collection finds inspiration in basketball player James Harden and features the highly-anticipated first non-high top Adidas Boost You Wear sneaker. As longtime Y-3 collaborators, Standard Black drew on i</p>
        </div>
      </div>

      <div class="speaker-item">
        <div class="speaker-photo">
          <img src="../../../../assets/img/main/4.jpg" alt="">
        </div>
        <div class="speaker-dossier">
          <p class="speaker-name">Lorem Ipsum</p>
          <p class="speaker-company">Фрилансер</p>
          <p class="speaker-theme">Angular 7</p>
          <i class="fas fa-sort-up"></i>
          <p class="detail-info">Y-3’s new capsule collection finds inspiration in basketball player James Harden and features the highly-anticipated first non-high top Adidas Boost You Wear sneaker. As longtime Y-3 collaborators, Standard Black drew on i</p>
        </div>
      </div>

      <div class="speaker-item">
        <div class="speaker-photo">
          <img src="../../../../assets/img/main/5.jpg" alt="">
        </div>
        <div class="speaker-dossier">
          <p class="speaker-name">Lorem Ipsum</p>
          <p class="speaker-company">Gasgolder</p>
          <p class="speaker-theme">Ngrx vs Ngxs</p>
          <i class="fas fa-sort-up"></i>
          <p class="detail-info">Y-3’s new capsule collection finds inspiration in basketball player James Harden and features the highly-anticipated first non-high top Adidas Boost You Wear sneaker. As longtime Y-3 collaborators, Standard Black drew on i</p>
        </div>
      </div>

      <div class="speaker-item">
        <div class="speaker-photo">
          <img src="../../../../assets/img/main/6.jpg" alt="">
        </div>
        <div class="speaker-dossier">
          <p class="speaker-name">Lorem Ipsum</p>
          <p class="speaker-company">Booking Machine</p>
          <p class="speaker-theme">React, Vue</p>
          <i class="fas fa-sort-up"></i>
          <p class="detail-info">Y-3’s new capsule collection finds inspiration in basketball player James Harden and features the highly-anticipated first non-high top Adidas Boost You Wear sneaker. As longtime Y-3 collaborators, Standard Black drew on i</p>
        </div>
      </div>

      <div class="speaker-item">
        <div class="speaker-photo">
          <img src="../../../../assets/img/main/7.jpg" alt="">
        </div>
        <div class="speaker-dossier">
          <p class="speaker-name">Lorem Ipsum</p>
          <p class="speaker-company">Фрилансер</p>
          <p class="speaker-theme">Angular 7</p>
          <i class="fas fa-sort-up"></i>
          <p class="detail-info">Y-3’s new capsule collection finds inspiration in basketball player James Harden and features the highly-anticipated first non-high top Adidas Boost You Wear sneaker. As longtime Y-3 collaborators, Standard Black drew on i</p>
        </div>
      </div>

    </div>

    <div class="be-speaker">
      <h3>Будьте спикером события</h3>
      <p>присылайте тему и описание доклада на</p>
      <a href="">meetup@cinimex.ru</a>
    </div>

  </div>
</section>
