@import '~src/app/toolkit/shared-styles/defultat-for-components'


.registration
  width: 100%
  padding: 130px 0px
  h3
    font-size: 30px
    font-weight: 500
    text-align: center
    text-transform: uppercase
  p
    margin-top: 15px
    color: #b4b4b4
    font-size: 18px
    text-align: center
    font-weight: 200
  form
    margin-top: 65px
    display: flex
    flex-wrap: wrap
    justify-content: center
    align-items: center
    input[type="text"], button
      width: 35%
      font-size: 18px
      text-align: center
      padding: 18px 0px
      margin: 0px 20px 30px 20px
      border: 1px solid #b4b4b4
      @include transition(.35s)
    input[type="text"]:focus
      border: 1px solid $orange
    button
      border: 0px
      padding: 20px 0px
      background-color: $blue
      color: #fff
      cursor: pointer
      &:hover
        box-shadow: 0 1em 2em -1em rgba(0,0,0,1)

    .form-check
      margin: 0px 20px 25px 20px
      width: 35%
      overflow: hidden
      .check-block
        width: 100%
        display: flex
        align-items: center
        &:first-child
          margin-bottom: 10px
        .btn
          background-color: $orange
      input
        display: block
        width: 16px
        height: 16px
        margin-right: 8px
      .label-agree
        font-size: 14px



@media screen and (max-width: 1550px)

  .registration
    h3
      font-size: 25px
    p
      font-size: 16px
    form
      input[type="text"]
        font-size: 16px
        padding: 15px 0px
      button
        font-size: 16px
        padding: 18px 0px

      .form-check
        .label-agree
          font-size: 11px
