<app-particle></app-particle>

<app-header></app-header>


<section class="all-speakers">

  <div class="container-short">

    <div class="speaker-intro">
      <h1>Герои нашего времени</h1>
      <p>расскажите единомышленникамам о новинках и фишках в мире frontend</p>
      <p>присылайте тему и описание доклада на адрес <a href="">meetup@cinimex.ru</a></p>
    </div>


    <div class="speakers-wrapper">

      <div class="speaker-item">
        <div class="speaker-photo">
          <img src="../../../../assets/img/main/2.jpg" alt="">
        </div>
        <div class="speaker-dossier">
          <p class="speaker-name">Степан Разин</p>
          <p class="speaker-company">Gasgolder</p>
        </div>
      </div>

      <div class="speaker-item">
        <div class="speaker-photo">
          <img src="../../../../assets/img/main/3.jpg" alt="">
        </div>
        <div class="speaker-dossier">
          <p class="speaker-name">Lorem Ipsum</p>
          <p class="speaker-company">Booking Machine</p>
        </div>
      </div>

      <div class="speaker-item">
        <div class="speaker-photo">
          <img src="../../../../assets/img/main/4.jpg" alt="">
        </div>
        <div class="speaker-dossier">
          <p class="speaker-name">Lorem Ipsum</p>
          <p class="speaker-company">Фрилансер</p>
        </div>
      </div>

      <div class="speaker-item">
        <div class="speaker-photo">
          <img src="../../../../assets/img/main/5.jpg" alt="">
        </div>
        <div class="speaker-dossier">
          <p class="speaker-name">Lorem Ipsum</p>
          <p class="speaker-company">Gasgolder</p>
        </div>
      </div>

      <div class="speaker-item">
        <div class="speaker-photo">
          <img src="../../../../assets/img/main/6.jpg" alt="">
        </div>
        <div class="speaker-dossier">
          <p class="speaker-name">Lorem Ipsum</p>
          <p class="speaker-company">Booking Machine</p>
        </div>
      </div>

      <div class="speaker-item">
        <div class="speaker-photo">
          <img src="../../../../assets/img/main/7.jpg" alt="">
        </div>
        <div class="speaker-dossier">
          <p class="speaker-name">Lorem Ipsum</p>
          <p class="speaker-company">Фрилансер</p>
        </div>
      </div>

      <div class="speaker-item">
        <div class="speaker-photo">
          <img src="../../../../assets/img/main/2.jpg" alt="">
        </div>
        <div class="speaker-dossier">
          <p class="speaker-name">Степан Разин</p>
          <p class="speaker-company">Gasgolder</p>
        </div>
      </div>

      <div class="speaker-item">
        <div class="speaker-photo">
          <img src="../../../../assets/img/main/3.jpg" alt="">
        </div>
        <div class="speaker-dossier">
          <p class="speaker-name">Lorem Ipsum</p>
          <p class="speaker-company">Booking Machine</p>
        </div>
      </div>

      <div class="speaker-item">
        <div class="speaker-photo">
          <img src="../../../../assets/img/main/4.jpg" alt="">
        </div>
        <div class="speaker-dossier">
          <p class="speaker-name">Lorem Ipsum</p>
          <p class="speaker-company">Фрилансер</p>
        </div>
      </div>

      <div class="speaker-item">
        <div class="speaker-photo">
          <img src="../../../../assets/img/main/5.jpg" alt="">
        </div>
        <div class="speaker-dossier">
          <p class="speaker-name">Lorem Ipsum</p>
          <p class="speaker-company">Gasgolder</p>
        </div>
      </div>

      <div class="speaker-item">
        <div class="speaker-photo">
          <img src="../../../../assets/img/main/6.jpg" alt="">
        </div>
        <div class="speaker-dossier">
          <p class="speaker-name">Lorem Ipsum</p>
          <p class="speaker-company">Booking Machine</p>
        </div>
      </div>

      <div class="speaker-item">
        <div class="speaker-photo">
          <img src="../../../../assets/img/main/7.jpg" alt="">
        </div>
        <div class="speaker-dossier">
          <p class="speaker-name">Lorem Ipsum</p>
          <p class="speaker-company">Фрилансер</p>
        </div>
      </div>

    </div>
    <div class="be-speaker">
      <h3>Выступите спикером</h3>
      <a href="">meetup@cinimex.ru</a>
    </div>
  </div>
</section>





<app-footer></app-footer>
